<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-card *ngFor="let news of tab">
    <img [src]="news.image" />
    <ion-card-header>
      <ion-card-title>{{news.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{news.text}}
    </ion-card-content>
  </ion-card>
 


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon routerLink="/add" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  

</ion-content>
